.App-todo
    width: 10rem
    margin: 0 auto


.todo-wrap
    padding: .6rem

    h3
        margin: 0
        text-align: center
        font-size: .4rem
        font-style: italic

        color: #38B9B9
        text-transform: uppercase

    // add
    .todo-add
        margin-top: .26rem

        input
            display: block
            width: 100%
            height .8rem
            line-height: .8rem

            padding: 0 .4rem
            border: 1px solid #999999

            font-size: .3rem

    // list
    .todo-list
        margin-top: .4rem

        li
            position relative
            margin-bottom: .2rem
            border-top: 1px dashed #f0f0f0

            label,.list-title
                display: inline-block
                vertical-align: bottom

            label
                width: .6rem
                height .6rem

                position relative

            input.is-hide
                text-align: center
                width: .6rem
                height: 0
                position: absolute

                top: 0
                bottom: 0
                left: 0
                margin: 0 auto
                border: none

                &:before
                    content: "✔"
                    line-height: 43px
                    font-size: 20px
                    color: rgb(240, 240, 240)
                    text-shadow: rgb(191, 191, 191) 0px -1px 0px

                    position: absolute
                    left 0
                    top: 0
                    right 0
                    bottom: 0
                    margin: auto

                    cursor pointer

                    transition: all .2s

                &[type=checkbox]:checked:before
                    color: #38B9B9
                    text-shadow: 0 1px 0 #669991

            .list-title
                height .4rem
                max-width 
                line-height: .4rem
                font-size: .28rem